body {
  margin: 0;
  padding: 0;
  background-color: #111318;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  transition: 0.2s ease;
}

.select-style,
.input-style{
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #1f2430;
  color: white;
  outline: none;
}
.input-style:focus {
  background-color: #1d2024;
  color: #fff;
  border-color: #0d6efd;
  box-shadow: none;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0d5cd2; 
}

.text-secondary {
  color: #a0a0a0 !important;
}
